language: node_js

node_js:
  - "0.12"
  - "4"
  - "5"

branches:
  only:
    - master

# Use container-based Travis infrastructure
sudo: false

cache:
  directories:
  - node_modules

install:
  - npm install
  # Check versions
  - node --version
  - npm --version

script:
  - npm test